@font-face {
    font-family: "YoungSerif";
    src:
      url("./assets/fonts/young-serif/YoungSerif-Regular.ttf") format("opentype") tech(color-COLRv1),
  }

body{
    margin: 0;
    background-color: #f3e6d8;

    .young-serif{
        font-family: YoungSerif;
    }
}